# Week One

##Day three
fw-fazztrack-week-one/fw-fazztrack-day-three

##Day four
fw-fazztrack-week-one/fw-fazztrack-day-four/practice-daily


# Week Two

## Day One
fw-fazztrack-week-two/fw-fazztrack-day-one/practice-daily

## Day Two
fw-fazztrack-week-two/fw-fazztrack-day-two

##Day Three
fw-fazztrack-week-two/fw-fazztrack-day-three/practice-daily
