#Week One

##Day Three
fw-fazztrack-week-one/fwf-day-three

##Day Four
fw-fazztrack-week-one/fwf-day-four/practice-daily


#Week Two

##Day One
fw-fazztrack-week-two/fwf-day-one/practice-daily

##Day Two
fw-fazztrack-week-two/fwf-day-two

##Day Three
fw-fazztrack-week-two/fwf-day-three/practice-daily

##Day Four
fw-fazztrack-week-two/fwf-day-four/practice


#Week Three
fw-fazztrack-week-three
##Day One